*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
$img-max-height:500px;
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 115 Black";font-weight: 1000;src: url("../fonts/alibaba-xiangce.woff2") format("woff2"),
    url("../fonts/alibaba-xiangce.woff") format("woff");

    font-family: "阿里巴巴普惠体 2.0 95 ExtraBold";font-weight: 1000;src: url("../fonts/Alibaba_bold.ttf") format("ttf");
    font-display: swap;
  }

body{
    background-color: #eee;
}
.contair{ 
    video{
        width: 100%;
    }
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    h1{

        text-align: left;
        font-size: 50px;
        font-weight: 800;
        font-family: "阿里巴巴普惠体 2.0 115 Black";
        line-height: 100px;
        img{
            width: 50px;
            // width: 50px;
            line-height: 100px;
            fill: aqua;
        }
    }
   
   
   .imgs{
   
    &-item{
        img{
            margin-top: 50px;
            width: 100%;
            border-radius: 20px;
            // margin-bottom: 20px;
        }
        h1{
            font-family: "阿里巴巴普惠体 2.0 95 ExtraBold";
            font-size: 30px;
            line-height: 50px;
            color: black;
        }
        h2{
            font-size: 24px;
            font-weight: 400;
            color: darkgray;
        }
    }
   }
}
