*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
$img-max-height:500px;
body{
    background-color: #eee;
}
.contair{ 
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    h1{
        text-align: left;
        font-size: 50px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 100px;
        img{
            width: 50px;
            // width: 50px;
            line-height: 100px;
            fill: aqua;
        }
    }
   
   
   .imgs{
   
    &-item{
        img{
            margin-top: 50px;
            width: 100%;
            border-radius: 20px;
            // margin-bottom: 20px;
        }
        h1{
            font-size: 30px;
            line-height: 50px;
            color: black;
        }
        h2{
            font-size: 24px;
            font-weight: 400;
            color: darkgray;
        }
    }
   }
}
